<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Seguimiento Consulta Automática Procesos Judiciales Colombia</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<!-- <link rel="stylesheet" href="css/styles.css">
	En las siguientes 3líneas (3 links) lo que se hizo fue agregar el font de google; es para que la letra de la página web se vea más bonita
	-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<!-- comentar multiples lines
	vamos poco a poco Dios mediante
-->
<body>
	<header>
  <nav id="header-nav" class="navbar navbar-default">
    <div class="container d-flex align-items-center">
      <!-- Logo a la izquierda -->
      <a href="index.html" class="d-flex align-items-center text-decoration-none">
        <div id="logo-img" class="me-3"></div> <!-- Imagen del logo -->
        <h1 class="mb-0">Software San Francisco de Asís</h1> <!-- Título al lado del logo -->
      </a>
    </div>
  </nav>
</header>


	<h2>Vida San Francisco de Asis</h2>
	<p>¿Por qué tanto contenido de San Francisco de Asis? Dios, a través de la Virgen Maria y los Santos, cambiaron mi vida. Gran tesoro escondido!
	A través de San Francisco de Asis todo hizo click, cómo no voy a mostrarlo?.</p>
	<p>Link Película San Francisco de Asis</p>
	<a href="https://www.youtube.com/watch?v=4xkrSNLJag4" target="_blank">Link Película San Antonio de Padua</a>
	<br>
	<br>
	<a href="https://www.youtube.com/watch?v=Y6kz5757WpE&t=68s" target="_blank">Link audiolibro San Francisco de Asis</a>
	<br>
	<br>
	<nav>
	<a href="https://www.youtube.com/watch?v=ONWf5l5n9Ss&t=223s" target="_blank">Link frases San Francisco de Asis</a>
	<br>
	<br>
	<a href="https://www.youtube.com/watch?v=l9Y1trmjmC4">Link explicación palabra por fraile</a> 
	</nav>
	<br>
	<br>
	<!-- pecados
	<div class="info_catolica"> 
		Pecados:
		<ul>
			<li>Pecados mortales:</li>
				<ul>
					<li>1. Materia Grave:</li>
					<ul>
						<li>1. No mates</li> 
						<li>2. No cometas adulterio</li> 
						<li>3. No robes</li> 
						<li>4. No levantes falso testimonio</li> 
						<li>5. No seas injusto</li> 
						<li>6. Honra a tu padre y a tu madre</li> 
					</ul> 
				</ul> 
			<li>Pecados veniales</li> 
				<ul>
				</ul> 
		</ul>
	<nav>
	<a href="https://www.vatican.va/archive/catechism_sp/p3s1c1a8_sp.html" target="_blank">Fuente vaticano</a>
	</nav> 
	</div>
		-->
	<br>
	<br>
	<!-- Seguimientos consulta de procesos-->
	
	<h1>Seguimiento Consulta Automática Procesos Judiciales Colombia</h1>
	<p>A continuación encontrará el archivo excel que contiene la consulta de procesos judiciales en la página web azul</p>
	<br>
	<br>
		<!-- Botón ingresar-->
	<div class="container mt-5">
    <!-- Título principal 
       <a href="login.html"> -->
       <a href="{{ url_for('login') }}">
	    <h1 class="welcome-title text-center mb-4">Bienvenido a Software San Francisco de Asís</h1>

	    <!-- Imagen para Log In debajo del título -->
	    <div class="text-center">
	    	<img src="{{ url_for('static', filename='images/login-icon.png') }}" alt="Log In" width="200" height="200" class="img-fluid">
	        <!-- <img src="images/login-icon.png" alt="Log In" width="200" height="200" class="img-fluid">  Cambia login-icon.png por tu imagen -->
      	<p class="mt-2">Haz clic en el ícono para iniciar sesión</p>
       </a>

    </div>
  </div>


	<!-- Información de contacto-->
	<!-- Información de contacto-->
	<!-- Información de contacto-->
	
	<h2>Contáctanos</h2>
	<p>correo: datajuancahb@gmail.com </p>
	  <!-- jQuery (Bootstrap JS plugins depend on it) 
	    <script src="js/jquery-3.7.1.min.js"></script>
		  <script src="js/bootstrap.min.js"></script>
		  <script src="js/script.js"></script>
		-->

  	<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>