/* ESTILO ANTERIOR APRENDIENDO
	<style>
		/*All h1 elements
		h1 {
			color: brown;
			text-align: center;
		} 
		/*All with class="info_catolica"
		.info_catolica {
			color: #E0FFFF;
		}
		/*All with class="info_links"
		a {
			color: blue;
		}
		/*id =  "logo_letras"
		#logo_letras {
			color: blue;
		}
	</style>
*/